#pane
{
	-fx-background-image: url("./../../assets/frontend/PlantSelectAssets/plantSelect_bg.png");
	-fx-background-position: center center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: stretch;
}

#playButton
{
	-fx-background-color: linear-gradient(#2ADE13, #2DED13);
	-fx-background-radius: 20;
}