#pane
{
	-fx-background-image: url("./../../assets/frontend/LevelSelectAssets/levelSelect_bg.png");
	-fx-background-position: center center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: stretch;
}